@font-face {
    font-family: 'anurati';
    src: url('./src/fonts/Anurati-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


html {
  background: #3A1C71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #FFAF7B, #D76D77, #3A1C71) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(top, #3A1C71, #D76D77, #FFAF7B) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  background: #3A1C71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #FFAF7B, #D76D77, #3A1C71) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(top, #3A1C71, #D76D77, #FFAF7B) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

p {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #BE6076;
}

.toggledMusic {
  text-decoration: underline;
  color: #BE6076;
}

.main {
  text-align:center;
}

#logo {
  font-family: 'anurati', sans-serif;
  font-size: 100px;
  display:none;
  opacity: 0.5;
}

.fade-text {
  display:none;
}



#buttonWrap {
  margin-top: 100px;
}
#fade-button {
  font-size: 50px;
  padding:50px;
  text-decoration:none;
  font-family: 'anurati', sans-serif;
  color:black;
  opacity: 0.5;

}

#img-logo {
  width: 200px;
  height: 200px;
}

.raptLogo {
  display:none;
}

.fade-enter {
  display:none;
}
