body {
  background: #3A1C71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3A1C71, #D76D77, #FFAF7B) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  text-align:center;
}



#logo {
  font-family: 'Anurati', sans-serif;
  font-size: 100px;
  display:none;
}

.fade-text {
  display:none;
}

#buttonWrap {
  margin-top: 100px;
}
#fade-button {
  display:none;
  border-style:solid;
  padding:50px;
  text-decoration:none;
  border-radius: 10px;
}
